In [55]:
from bs4 import BeautifulSoup
from random import randint, choice
import requests
import pandas as pd

In [4]:
url_billboard = 'https://www.billboard.com/charts/hot-100/'
response = requests.get(url_billboard)
response.status_code

200

In [5]:
soup = BeautifulSoup(response.text, 'html.parser')
result = soup.find_all('div', class_='o-chart-results-list-row-container')

In [6]:
display(result[0].find_all('span')[5].text.strip())

'2'

In [7]:
result[0].h3.find_next('span').get_text().strip()

'Jack Harlow'

In [8]:
songs = []
artists=[]
lastweeks = []
peaks=[]
durations=[]
for res in result:
    song = res.h3.get_text().strip()
    artist = res.h3.find_next('span').get_text().strip()
    lastweek = res.find_all('span')[5].text.strip()
    peak = res.find_all('span')[6].text.strip()
    duration = res.find_all('span')[7].text.strip()
    
    songs.append(song)
    artists.append(artist)
    lastweeks.append(lastweek)
    peaks.append(peak)
    durations.append(duration)

In [21]:
hot100 = pd.DataFrame({'song': songs, 'artist': artists, 
                       'Last Week Ranking': lastweeks, 'Peak Ranking': peaks,
                        'Weeks on Chart': durations})

In [22]:
hot100.to_csv('BillboardHot100.csv')
hot100

,song,artist,Last Week Ranking,Peak Ranking,Weeks on Chart
0,TEXAS HOLD 'EM,Beyoncé,2,1,13
1,Lose Control,Teddy Swims,4,2,26
2,Beautiful Things,Benson Boone,8,3,3
3,Flowers,Miley Cyrus,3,1,40
4,Turn the Lights Back On,Billy Joel,10,2,60
...,...,...,...,...,...
95,Tell It To My Heart,Cash Cash & Taylor Dayne,100,92,4
96,"We Takin' Over (feat. Akon, T.I., Rick Ross, F...",DJ Khaled,97,37,10
97,Used To Be Young,Miley Cyrus,98,1,-
98,Heart Like a Truck,Lainey Wilson,91,91,3
99,greedy,Tate McRae,32,7,-

In [23]:
url_popvortex = 'http://www.popvortex.com/music/charts/top-100-songs.php'
response = requests.get(url_popvortex)
response.status_code

200

In [24]:
soup = BeautifulSoup(response.text, 'html.parser')
result = soup.find_all('div', class_="chart-content col-xs-12 col-sm-8")
#for res in result:
#    print(res.prettify())

In [25]:
songs=[]
artists=[]
genres=[]
dates= []
for res in result:
    song = res.cite.text.strip()
    artist = res.em.text.strip()
    genre = res.a.text.strip()
    date = res.li.find_next_sibling().text.split(":")[1]
    songs.append(song)
    artists.append(artist)
    genres.append(genre)
    dates.append(date)

In [26]:
popvortex = pd.DataFrame({'song': songs, 'artist': artists, 'genre': genres, 'release_date':dates})

In [27]:
popvortex.to_csv('Popvortex100.csv')

In [28]:
popvortex

,song,artist,genre,release_date
0,TEXAS HOLD 'EM,Beyoncé,Country,"February 11, 2024"
1,Lose Control,Teddy Swims,Pop,"June 23, 2023"
2,Beautiful Things,Benson Boone,Pop,"January 19, 2024"
3,Flowers,Miley Cyrus,Pop,"January 12, 2023"
4,Turn the Lights Back On,Billy Joel,Pop,"February 1, 2024"
...,...,...,...,...
95,Tell It To My Heart,Cash Cash & Taylor Dayne,Dance,"September 15, 2023"
96,"We Takin' Over (feat. Akon, T.I., Rick Ross, F...",DJ Khaled,Hip-Hop / Rap,"March 27, 2007"
97,Used To Be Young,Miley Cyrus,Pop,"August 25, 2023"
98,Heart Like a Truck,Lainey Wilson,Country,"May 20, 2022"
99,greedy,Tate McRae,Pop,"September 15, 2023"

In [50]:
def getsong1(df):
    song == input("Song:\n").lower()
    if song in df['song'].str.lower().values:
        print('TRUE')
        return True
    else:
        print('FALSE')
        return False

In [51]:
a = getsong1(hot100)

Song:
flowers
TRUE

In [52]:
def recommendation(df1, df2):
    def getsong(song, df):
        return song in df['song'].str.lower().values
    
    user_input = input("Song:\n").lower()
    if getsong(user_input, df1):
        df = df1[df1['song'] != user_input]
    elif getsong(user_input, df2):
        df = df2[df2['song'] != user_input]
    else:
        print("Error: The provided song is not found in our database.")
        return
    
    i = randint(0, len(df) - 1)
    rec = df.iloc[i]
    song = rec['song']
    artist = rec['artist']
    print(f"Recommended Song: {song} by {artist}")

In [54]:
recommendation(hot100,popvortex)

Song:
flowers
Recommended Song: I Remember Everything (feat. Kacey Musgraves) by Zach Bryan

In [62]:
def recommendation2(df1, df2):
    user_input = input("Song:\n").lower()
    
    df1['song'] = df1['song'].str.lower()
    df2['song'] = df2['song'].str.lower()
    
    if user_input in df1['song'].values:
        df = df1[df1['song'] != user_input]
    elif user_input in df2['song'].values:
        df = df2[df2['song'] != user_input]
    else:
        print("Error: The provided song is not found in our database.")
        return
    
    if user_input in df1['song'].values and user_input in df2['song'].values:
        df = pd.concat([df1, df2], ignore_index=True)
    
    rec = choice(df.index)
    song = df.loc[rec, 'song']
    artist = df.loc[rec, 'artist']
    print(f"Recommended Song: {song} by {artist}")

In [66]:
recommendation2(hot100,popvortex)

Song:
aaa
Error: The provided song is not found in our database.